@using demo2025_razor.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IQueryable<demo2025_razor.ViewModels.QuoteProductViewModel>

<table id="tblQuoteProducts">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Custom Price</th>
            <th>Quote</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var qp in Model)
            {
                <tr>
                    <td>@qp.Id</td>
                    <td>@qp.Product</td>
                    <td>@qp.CustomPrice</td>
                    <td>
                        @await Component.InvokeAsync("QuoteProductQuotesComponent", new {quoteProductId=qp.Id,customerId = qp.Customer.Id})
                    </td>
            </tr>
            }

        }
        else
        {
            <tr>
                <td colspan="4">
                    No Quote Products found
                </td>
            </tr>
        }
    </tbody>
</table>