@using demo2025_razor.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<QuoteProductViewModel>

<table id="tblQuoteProducts">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Custom Price</th>
            <th>Quote</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quote in Model)
        {
            <tr>
                <td>@quote.Id</td>
                <td>@quote.Product</td>
                <td>@quote.CustomPrice</td>
                <td>
                 

                    <select id="selectQuotes">
                        <option value="A">A.</option>
                        <option value="B">B.</option>
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>