@model List<SelectListItem>

<div>
    
    <select id="quoteProductsQuotesSelect" class="form-select">

        @foreach(var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
</div>